# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# IPython checkpoints
.ipynb_checkpoints/

# Environment
.env
.python-version

# Ignore fma_large and fma_small directories
fma_large/
fma_small/

# Ignore the trained models and script
random_forest_genre_classifier.joblib
cnn_genre_classifier.h5
test.py
testcnn.py
"random_forest_genre_classifier.joblib" 

*.png
*.joblib
*.h5
